In [1]:
l=[1,2,3,4,5,]

In [4]:
for i in l:
    print(i,type(i))
    #l list tha  but i list nhi hai vo int hai

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [5]:
l1=['sudh','kumar','krish','naik']

In [7]:
for i in l1:
    print(i,type(i))
    #l1 list tha  but ab alg alg likha hai ab vo string hai

sudh <class 'str'>
kumar <class 'str'>
krish <class 'str'>
naik <class 'str'>

In [11]:
# python mai for else name ka bhi ek chiz hai jo aur kisi programming language mai nhi hai
for i in l1:
    print(i) #yaha gap isliye hai kyuki  ye block for loop ke andar hai  aur for loop ka chiz yehi
              # katam hoga isliye next line pe sai gap nhi hai kyuki vo alag hai
else : #yaha gap isliye nhi hai kyuki ye alag sai hai 
    #yaha pr else tbhi execute hoga jab for loop successfully execute hoga
    print('if for loop is able to complete itself then only else will execute')
    #isme phle for loop ko execute krega fir uske baad else ko bhi execute krega

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

In [12]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [14]:
#for else mai else kha use nhi hoga ?
for i in l1:
    if i=='kumar':
        break  #yahi rok dega and jispr break lga hai vo execute nhi hoga output m nhi ayega 
    print(i) #otherwise
else:
    print('execute this if loop is able to complete itslef') # yaha else execute nhi hua
                                   # kyuki else tbhi execute hoga jab for loop pura ka pura execute krjaiga but yaha pr
                            # complete nhi hua kumar ke baad break lg gya toh pura execute nhi hua isliye else execute nhi hua

sudh

In [25]:
for i in l1:
    if i=="kumar":
        continue #continue pr ate hi aage ke print(i) pe nhi jaiga vo direct for sai for pe chla jaiga turant 
                 #print(i) pe tb ja rha tha jab if i=="kumar" false ho rha tha 
    print(i)
else:
    print('execute this if for loop is able to complete itself') 
    #yaha pr else wala execute hogaya kyuki if wala khi bhi break nhi ho rha  sb 
    # execute ho rha kumar wla aate hi continue lga hai jiske wjah sia for loop pe fir sai chla ja rha hai break nhi ho rha

sudh
krish
naik
execute this if for loop is able to complete itself

In [26]:
range(5)# ye generator hai jo data ko generate krdeta hai 
        #range mai 5 diya hai toh ye 0 to 5 number generate krdega  excluding 5 (5 ko chor kr)

range(0, 5)

In [27]:
list(range(5))

[0, 1, 2, 3, 4]

In [28]:
list(range(0,5,1))
# 0 lower bound hai 
# 1 upper bound ha/i 
# last 1 jump hai

[0, 1, 2, 3, 4]

In [29]:
range(0,20,2) #2 ka jump hai  and data generate hogya hai but dhikhega nhi jab ham usse list mai nhi late

range(0, 20, 2)

In [30]:
list(range (0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
list(range(-10,0))#negative mai data produce krna hai tooh  and o upper bound hai toh usse ekk kam tk generate krega

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [2]:
list(range(int(input('lower bound')),int(input('upper bound')),2))
#yha lower bound user dega aur upper bound bhi user dega and jump 2 ka set hai

lower bound 2
upper bound 20

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
list(range(int(input('lower bound')),int(input('upper bound')),int(input('jump'))))
#yha lower bound user dega aur upper bound bhi user dega and jump bhi user dega

lower bound 2
upper bound 30
jump 3

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29]

In [32]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [34]:
#mujhe chaiye last sai start hokar suru tak jai l1
len(l1)

4

In [35]:
list(range(len(l1))) #ek tarike sai ye total no. of index btta rha l1 mai

[0, 1, 2, 3]

In [37]:
for i in range(len(l1)): #
    print(l1[i])

sudh
kumar
krish
naik

In [40]:
list(range(len(l1),0)) #reverse krna ke liye kr rhe teh but blank output aa rha kyuki len(l1) jo ki 4 hai  h 
                      # waha sai 0 ke traf ja rhe but by default jump +1 hai isliye blank  aa rha

[]

In [42]:
list(range(len(l1),0,-1))#but hame 3 to 0 jana tha then"

[4, 3, 2, 1]

In [43]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [44]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [45]:
#rverse mai l1 k DATA cahiye
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [47]:
#ham reverse wala aese bhi kr skte hai 
for i in [3,2,1,0]:
    print(l1[i])
    #but ye wala hardcorded hai agr jada bada data agya agar toh difficult ho jaiga fir upr wale logic sai krna prega

naik
krish
kumar
sudh

In [48]:
l2=[23,5,45,56,6,67,67,78,87,8998,9,9,8] #hmko vo data cahiye jo even index pr available hai

In [51]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [63]:
for i in range(0,len(l2),2):
   # print(i) ye i ko print krga jo  0,2,4,6,8,10 ye print krdega i ka even krdega 
     print(l2[i])

23
45
6
67
87
9
8

In [64]:
for i in l2:
    if i%2==0:
        print(l2[i])

IndexError: list index out of range

In [65]:
l=[1,2,3,4,7,8,98] # list mai jo data uska summation krke do

In [66]:
sum(l)#ye function sai bhi ajaiga

123

In [72]:
result=0
for i in l:
    result=result+i # i=1-> r=0+1=2
                            # r=1+2=3
                            # r=3+3=6
                            # r=6+4=10
                            # r=10+7=17
result

123

In [84]:
f = (1,2,3,4,4,5) #tuple

In [85]:
for i in f:
    print(i)

1
2
3
4
4
5

In [87]:
#tuple ke andar jitne bhi data hai sbka sum cahiye 
result=0
for i in f:
    result=result+i
result

19

In [88]:
sum(f) #direct fuctiion sai bhi sumation nikal sakte teh

19

In [89]:
s={1,2,3,4,5,"sudh","pwskills"} #suppose set leliya hmne

In [90]:
for i in s:
    print(i)

1
2
3
4
5
pwskills
sudh

In [91]:
s1='pwskills' #suppose hmne string leliya  and string mai data index mai store hota hai

In [92]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [97]:
d={"name":"sudh","class":"data science masters","topic":["python","stats","machine learning","DL","NLP","resume","interview"]}
#suppose hmne dictonary leliya

In [98]:
d

In [100]:
d["name"]

In [101]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [102]:
d.values()

dict_values(['sudh', 'data science masters', ['python', 'stats', 'machine learning', 'DL', 'NLP', 'resume', 'interview']])

In [103]:
d.items() # item nikalte hai toh key and values dono la kar deta hai in the form of tuple

dict_items([('name', 'sudh'), ('class', 'data science masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'NLP', 'resume', 'interview'])])

In [104]:
for i in d.keys():#keys ke basis pr ek ek values ko print kro
    print(d[i]) #value nikale ke liye hm d of keys (d["keys"]) karte hai toh us keys ka value ka nikal jata hai

sudh
data science masters
['python', 'stats', 'machine learning', 'DL', 'NLP', 'resume', 'interview']

In [106]:
d.items()

In [108]:
for i in d.items():
    print()