In [1]:
#function banayege

In [2]:
def test():  #def means define and test name ka ek function bana rha hu
    #agr sirf def test() krke chor denge means sirf initalize krke chor denge toh  toh ye error generate krega syntax error  
    # kyuki intialize krke defined krna krna prega  warna syntax error dega 
    pass  #agr hm cah rhe ke define  na kre sirf intialize krke chor de and error na bataye toh pass likh kr chor do

In [5]:
def test1():
    print('this is my very very first function') # now ab agr isse execute krte ho toh kio outcome nhi milega 
                                                 # outcome ke liye function ko call krna prega

In [6]:
test1() #yaha function call kiya and output agya

this is my very very first function

In [7]:
test1()+"sudh" # ye add krega ki nhi kyuki test1() ke andar ek string  hai  toh hame lag rha ki test1() ek string  

            # ye add nhi krega error dega kyuki test1() string nhi hai bs vo dekhne s lag rha kyuki  useke andar string hai 
             # test1() ka data type none type hai

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
def test2():
    return"this is my very first return" #isme jo bhi likhoge exact vhi return krdega 
                                # ye yaha string de rha 
                                  # agar yaha int doge toh int return krega  string doge toh string return krega 
                                # jo bhi data type doge vhi return krega like list dic tuple

In [9]:
test2()

'this is my very first return'

In [12]:
test2()+ "  sudh" #yaha returnn ke wjh sai test2() string ban gya ab usme string easily add ho rha

'this is my very first return  sudh'

In [13]:
def test3():
    return 'sudh', 23,345.56,[1,2,3,3] #multile data type return kr rha

In [14]:
test3() #yaha sb tuple ke andar return krdega

('sudh', 23, 345.56, [1, 2, 3, 3])

In [16]:
#agar multiple data type ko alag alag variable mai dalna hai  toh vo bhi kar sakte hai 
a,b,c,d=test3()

In [17]:
a

'sudh'

In [18]:
b

23

In [19]:
c

345.56

In [20]:
d

[1, 2, 3, 3]

In [21]:
# #declare kar sakte hai variable ko alag alag bhi and sath msi bhi 
# a=1
# c=3
# or
# a,c=1,3 
# dono ekhi kaam krega

In [25]:
def test4():
    a=6+6/7
    return a

In [26]:
test4()

6.857142857142857

In [27]:
 # abhi tak upr jo bhi DATA  dale hai vo toh ham dale hai hardcore data dale hai but ham cah rhe ki user dale data ko  \
def test5(a,b,c): #jo anddar a b c hai vo user sai mangega data
    d=a+b/c
    return d

In [28]:
test5() #yaha error islilye aya ki kyuki hmne abc ki value  nhi di

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [29]:
test5(2,5,8)

2.625

In [30]:
def test6(a,b):
    return a+b

In [31]:
test6(3,4) #dono integer tha toh output dediya

7

In [33]:
test6('sudh',' kumar') #yaha pass bhi dono bhi dono ko add kediya kyuki hamne return use kiya tha

'sudh kumar'

In [34]:
test6([1,2,3,4,5],[4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [35]:
#fuction banane sai ham bar bar nhi likh kr dikhana padhta ek bar bana lo fir bar bar use krte rho

In [4]:
l=[1,2,3,4,'sudh', 'kumar',[1,2,3,4,5,6]]

In [5]:
# ye upr ek list l available haina toh ek function likh do jisse kio bhi list pass kroge na toh 
# usme jo int ya float value available haina uske ek or list 
# mai nikal kr dede
 
    
#without function
l1=[]
for i in l :
    if type(i)== int or type(i)==float:
        l1.append(i)

In [6]:
l1

[1, 2, 3, 4]

In [16]:
#now creating function for that 

def test7(l): #jaruri nhi yaah l hii rakhe braket mai
    # aap kio bhi variable rakh sakte hai aur yaha kio aur variable rakhege toh for wale mai bhi vahi variabe rakhna prega
    l1=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [13]:
test7(l)

[1, 2, 3, 4]

In [14]:
# list l sai list nikalna hai sirf 
# without using function
l2=[]
for i in l:
    if type(i)==list:
        l2.append(i)

In [15]:
l2

[[1, 2, 3, 4, 5, 6]]

In [65]:
# list l ke andar jitne int or float hai unke ek list mai dalo and us list ke andar jo list
# hai usme bhi check karo agr usme int or float hai toh usko bhi nikal kr ussi list mai lao
def test8(a):
    l2=[]
    for i in a:
        if type(i)==list:
            for j in i :
                l2.append(j)
        else:
             if type(i)==int or type(i)==float:
                l2.append(i)
    return l2

In [66]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [ ]:
#sir method  jo upr hai vhi wala hai
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [43]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [69]:
def test9(a):
    
    '''this is my function to extract num data from list''' #ye docstring hai
                                          # jab shift + tab dabao ge toh ye bta dega ki ye function krta kya hai  
      # agr aese krke nhi likhaoge toh ye nhi btayega ki ye krta kya hai jab ham shift+tab dabyege kyuki ye function hm khud banaye hai
    l2=[]
    for i in a:
        if type(i)==list:
            for j in i :
                l2.append(j)
        else:
             if type(i)==int or type(i)==float:
                l2.append(i)
        return l2

In [ ]:
test9()

In [70]:
def test10(a,b): #suppose agr ham 10 arguements pass krne ho toh kya kya bar bar likhege 
    return a+b

In [71]:
test10(2,3)

5

In [72]:
def test11(*args):#ye use kro ab kitne bhi arguemnens dalo  but ye tuple ke andar dega 
       # starickargs (*args) ka matlb hota hai ki you can pass n numner of arguements inside a function
        # *args jaruri nhi ki ye hi likhe app *sonu bhi likha sakte hai but * lagana compulsory hai
    return args

In [73]:
test11() #tuple dega

()

In [74]:
test11(1,2,3)

(1, 2, 3)

In [75]:
test11(1,2,3,'sudh','kumar',[1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [90]:
def test12(*sonu):
    return sonu

In [91]:
test12(2,34,4,5,5,4)

(2, 34, 4, 5, 5, 4)

In [97]:
def test13(*args,a):
    return args , a

In [98]:
test13(1,2,3,4) #multiple arguement use krne ke baad bhi a arguement dediya hai 
     # isliye ye confuse ho rha hai ki args ka hai ya a ka hai last wala 4
#simply ye confuse hogya toh ham isko simply sahi kr skte hai test13(1,2,3,a=4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [99]:
test13(1,2,3,a=4)

((1, 2, 3), 4)

In [100]:
def test14(a=23,b=1,c,d): #c ,d aage likhn warna error ayega 
    return a,b,c,d

SyntaxError: non-default argument follows default argument (867418063.py, line 1)

In [106]:
def test14(c,d,a=23,b=1):
    return a,b,c,d

In [102]:
test14() #yaha or a or b ki value toh pta hai c or d ki nhi pta toh uski value mang rha

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [107]:
test14(2,4) #yaha output mai return ke order s print kiya hai

(23, 1, 2, 4)

In [109]:
test14(3,5,a=463) #a ka value ham change krna cah rhe teh 
# default value tab lega jab ham overwrite nhi krega agr overwrite krege toh new vale lelega

(463, 1, 3, 5)

In [110]:
# suppose user ko n number data cahiye dict format mai use **
def test15(**kwargs):
    return kwargs

In [111]:
test15() #dict return kr rha hai

{}

In [112]:
type(test15())

dict

In [113]:
test15(a=[2,43,4,3],b='sonu',c=34.344) #key=value format mai likhna dict mai value dalne ke liye

{'a': [2, 43, 4, 3], 'b': 'sonu', 'c': 34.344}